<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Amnista.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <Amnista.Properties.Settings>
            <setting name="user_name" serializeAs="String">
                <value>Please enter a name</value>
            </setting>
            <setting name="user_status" serializeAs="String">
                <value>OFFLINE</value>
            </setting>
            <setting name="user_drinktype" serializeAs="String">
                <value>WATER</value>
            </setting>
            <setting name="user_withmilk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_withsugar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="user_coffeePoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="server_ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Amnista.Properties.Settings>
    </userSettings>
</configuration>
